# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# IDEs
.vscode/
.idea/

# Build artifacts
build/
dist/
*.spec
*.manifest
*.log
*.bak

# Local Stuff, SQLite DB + exports
registree.db
exports/
dev_notes.txt

# OS junk
.DS_Store
Thumbs.db

# Optional: if config is ever file-based
config.json
settings.json
